@using BTCPayServer.Plugins.Trocador
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject TrocadorService TrocadorService
@{
    var storeId = ((JObject)JObject.Parse(JsonConvert.SerializeObject(Model)))["StoreId"].Value<string>();
    var settings = await TrocadorService.GetTrocadorForStore(storeId);
    if (settings?.Enabled is true)
    {
        <div class="payment-tabs__tab py-0" id="Trocador-tab" v-on:click="switchTab('Trocador')" v-bind:class="{ 'active': currentTab == 'Trocador'}" v-if="!srvModel.paymentMethodId.endsWith('LNURLPAY')">
            <span>{{$t("Altcoins (Trocador)")}}</span>
        </div>
    }
}
