@using BTCPayServer.Plugins.Trocador
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@inject TrocadorService TrocadorService
@{
    const string defaultId = "Trocador";

    var storeId = ((JObject)JObject.Parse(JsonConvert.SerializeObject(Model)))["StoreId"].Value<string>();
    var settings = await TrocadorService.GetTrocadorForStore(storeId);

    if (settings?.Enabled is not true)
    {
        return;
    }

    string customId = settings.PaymentMethodId;
    string displayId = (!string.IsNullOrEmpty(customId) ? customId : defaultId);
    int shouldSwitch = settings.ShowFirst is true ? 1 : 0;
}

<template v-if="@shouldSwitch">
    <div
        class="payment-tabs__tab"
        id="@defaultId-tab"
        v-on:click="switchTab('@defaultId')"
        v-bind:class="{ 'active': currentTab == '@defaultId'}"
    >
        <trocador-tab
            inline-template
            :switch-tab="() => switchTab('@defaultId')"
            :current-tab="currentTab"
            :should-switch="@shouldSwitch"
        >
            <span>@displayId</span>
        </trocador-tab>
    </div>
</template>
<template v-else>
    <div
        class="payment-tabs__tab"
        id="@defaultId-tab"
        v-on:click="switchTab('@defaultId')"
        v-bind:class="{ 'active': currentTab == '@defaultId'}"
    >
        <span>@displayId</span>
    </div>
</template>

<script src="~/Resources/js/trocadorTabComponent.js"></script>